name: Build example applications

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    test:
        name: Build empty window example
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                dc: [dmd-latest, ldc-latest, dmd-2.085.0, ldc-1.17.0]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2

            - name: Install D compiler
              uses: dlang-community/setup-dlang@v1
              with:
                  compiler: ${{ matrix.dc }}

            - name: Build empty window example
              run: dub -q build glfw-d:empty-window

            - name: Build OpenGL triangle example
              run: dub -q build glfw-d:triangle-gl

            - name: Build Vulkan triangle example
              run: dub -q build glfw-d:triangle-vulkan
